:root {
  --primaryBlue: #003591;
  --secondaryBlue: #6095F0;
  --primaryGreen: #BCED40;
  --secondaryGreen: #82A133;
  --primaryWhite: #FFFFFF;
  --primaryBlack: #000000;
  --primaryRed: #C00303;
}

/* LOGIN */
.green-container {
  width: 80%;
  height: 50%;
  background-color: 'transparent';
  border-color: var(--secondaryGreen);
  border-width: 6px;
  border-radius: 50px;
  border-style: solid;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 40px;
  justify-content: space-between;
  align-self: center;
}

.login-title{
  color: var(--primaryBlue);
  text-align: 'center';
  font-weight: 'bold';
  font-size: 28px;
}

.login-image{
  width: 450px;
}

.horizontal-div{
  display: flex;
  flex-direction: row;
  padding: 40px;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 50%;
  background-color: 'transparent';
  border-color: var(--secondaryGreen);
  border-width: 6px;
  border-radius: 50px;
  border-style: solid;
  align-items: center;
}

.login-view {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.login-form-view{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
}

.form-title{
  color: var(--primaryBlue);
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.form-label{
  color: var(--primaryBlack);
  text-align: left;
  font-size: 16px;
}

.form-submit{
  background-color: var(--primaryBlue);
  height: 40px;
  border-radius: 50px;
  border-color: transparent;
  width: 160px;
  box-shadow: 0px;
  color: var(--primaryWhite);
  font-size: 16px;
  margin: 20px;
}

.form-text-field{
  background-color: var(--primaryWhite);
  height: 30px;
  width: 350px;
  border-color: var(--primaryBlack);
  border-width: 1px;
  padding: 5px; 
  margin-right: 16px;
  margin-left: 16px;
}
/* FOOTER */
.footer-container{
  background-color: var(--secondaryBlue);
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
}

.names-text{
  color: var(--primaryWhite);
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}

.group6-text{
  color: var(--primaryWhite);
  font-size: 25px;
  font-weight: bold;
  margin-right: 20px;
}

/* HEADER */
.page-header{
  height: 60px;
  background-color: var(--primaryGreen);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-right: 16px;
}

.nav-home-icon{
  padding-left: 16px;
}

.nav-buttons{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-button-text{
  display: inline;
  text-decoration: none;
  padding-left: 5px;
  font-size: 16px;
  padding-right: 5px;
}

.nav-button{
  color: var(--primaryBlack);
  padding-left: 40px;
  font-size: 16px;
}

/* HOME */

.home-container{
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-landing-image{
  height: 65vh;
}

.home-message{
  font-size: 22px;
  font-weight: 300;
  text-decoration: italic;
}

.home-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.home-line{
  font-size: 22px;
  font-weight: 300;
  margin-left: 3px;
  margin-right: 3px;
}

.home-group6{
  font-size: 22px;
  font-weight: 300;
}

.large-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryBlue);
  height: 40px;
  border-radius: 50px;
  border-color: transparent;
  width: 460px;
  box-shadow: 0px;
  color: var(--primaryWhite);
  font-size: 16px;
  margin: 20px;
}

.register{
  justify-content: justify;
}

.blue-subtitle{
  font-size: 22px;
  font-weight: bold;
  color: var(--primaryBlue);
  text-align: left;
  margin-left: 16px;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1000px;
}

.secondary-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondaryBlue);
  height: 25px;
  border-radius: 50px;
  border-color: transparent;
  width: 160px;
  box-shadow: 0px;
  color: var(--primaryWhite);
  font-size: 14px;
  margin: 20px;
}

.form-text-field{
  background-color: var(--primaryWhite);
  height: 20px;
  width: 350px;
  border-color: var(--primaryBlack);
  border-width: 1px;
  padding: 5px; 
}

.left-align{
  display: flex;
  align-items: left;
  justify-content: flex-start;
  text-align: left;
  align-content: flex-start;
}

.form-bottom-right-image{
  position: relative;
  top: 180px;
  width: 0px;
  left: -120px;
}

.form-corner-image{
  width: 200px;
  height: auto;
}

.space-between{
  justify-content: space-between;
  width: 1000px;
}

.register-div{
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  height: 400px;
  background-color: 'transparent';
  border-color: var(--secondaryGreen);
  border-width: 6px;
  border-radius: 50px;
  border-style: solid;
  align-items: center;
}

.register-label{
  color: var(--primaryBlack);
  text-align: left;
  font-size: 16px;
  margin-left: 16px;
  padding: 0px;
  margin-bottom: 2px;
}

.right-bottom{
  margin-left: 16px;
  margin-top: 16px;
}

.form-label{
  color: var(--primaryBlack);
  text-align: left;
  font-size: 16px;
  margin-left: 16px;
}

.empty-div-footer{
  height: 10%;
}