:root {
  --primaryBlue: #003591;
  --secondaryBlue: #6095F0;
  --primaryGreen: #BCED40;
  --secondaryGreen: #82A133;
  --terciaryGreen: #218D18;
  --primaryWhite: #FFFFFF;
  --primaryBlack: #000000;
  --primaryRed: #C00303;
}
